* {
    font-family: 'Roboto Condensed', sans-serif; 
}

body {
    background-color: black;
    object-fit: contain;
    color: white;
    margin-top: 30px;
    text-align: center;
}

#space {
/* margin-top: 10px; */
padding-left: 17%;
padding-right: 17%;

}

.line {
    padding-left : 15%;
    padding-right: 15%;
    background-color: skyblue;
    height:1px;
    width:70%;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: skyblue;
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 92px;    
}


a:hover {
    font-style: bold;
    font-size: large;
    font-weight: bolder;
}


a {
    color: white;
    text-decoration: none;

}

a:visited {
   text-decoration: none;
}

.white {
    color: white;
}