* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;  
    font-family: 'Roboto Condensed', sans-serif;
}



header {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100vw;
/*     background-color: black; */
    padding-top: 50px;
    
}
/* 
#wave {
  
    
} */

h1 {
    font-size: xx-large;
    color: rgba(33, 66, 126, 0.808);
}

a {
    color: rgb(53, 167, 212);
}

a:link {
    text-decoration: none;
}

a:hover {
    font-style: bold;
    font-size: large;
    font-weight: bolder;
    color:  skyblue;
}

#white {
color: whitesmoke;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(skyy.jpeg);
    color: whitesmoke;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 200px;  
    margin-top: 50px;  
    font-weight: bolder;
}